<div class="container">
  <div class="info">
    <h1>
      Where great Ideas are <span class="mat-primary-text">Discovered</span>
    </h1>
    <h2>What <span class="mat-primary-text-lighter">Sparks</span> you?</h2>
    <div class="buttons">
      <button class="primary-Typography" mat-button>
        <div class="flex align-center">
          I have an Idea
          <mat-icon class="margin-left-s small-icon">wb_incandescent</mat-icon>
        </div>
      </button>
      <button class="primary-Typography" mat-button>
        <div class="flex align-center">
          Look For Ideas
          <mat-icon class="margin-left-s small-icon no-rotate margin-remove-bottom">search</mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
