.container {
  background: url("../../../assets/star.jpg");
  height: 90%;
  background-position-x: -100px;
  background-position-y: -110px;
}

.info {
  width: 75%;
  text-align: center;
  h1 {
    padding-top: 102px;
    font-family: "Oswald";
    font-size: 48px;
    letter-spacing: 2px;
  }

  h2{
    font-size: 32px;
    padding-top: 32px;
  }
}

.buttons:first-child {
  margin-left: 0px !important;
}

.buttons {
  display: flex;
  margin-top: 8%;
  margin-right: 18px;
  justify-content: center;

  button {
    padding: 12px;
    // background: none;
    border: 2px solid white;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    transition: 0.25s linear;
  }
}

button:hover{
    color: #121212;
    background: white;
}


.small-icon{
    font-size: 28px;
    width: 28px;
    height: 28px;
    transform: rotate(180deg);
    margin-bottom: 4px;
}

.no-rotate{
    transform: none !important;
}